.hands-pile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.player-cards {
    display: flex;
    gap: 10px;
}


.game-play-piles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.play-discard-pile {
    display: flex;
    gap: 10px;
}

.card-spot {
    width: 80px;
    height: 150px;
    border-radius: 5px;
    border: 3px solid rgb(220, 210, 210);
}

.hand-card-spot {
    width: 80px;
    height: 150px;
    border-radius: 5px;
    border: 3px solid rgb(220, 210, 210);
}

.not-revealed {
    display: none;
}

.aF5F5F5{
    background-color: #F5F5F5;
}

.aBA55D3 {
    background-color: #BA55D3;
}

.a9ACD32 {
    background-color: #9ACD32;
}

.a87CEEB {
    background-color: #87CEEB;
}
.aFFA500 {
    background-color: #FFA500;
}