.hands-pile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.player-cards {
    display: flex;
    gap: 10px;
}


.game-play-piles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.play-discard-pile {
    display: flex;
    gap: 10px;
}

.card-spot {
    width: 80px;
    height: 150px;
    border-radius: 5px;
    border: 3px solid rgb(220, 210, 210);
}

.hand-card-spot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-object {
    width: 90px;
    height: 150px;
    border-radius: 5px;
    border: 3px solid rgb(220, 210, 210);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.card-object:hover {
    cursor: pointer;
}

.not-revealed {
    display: none;
}

.aF5F5F5{
    background-color: #F5F5F5;
}

.aBA55D3 {
    background-color: #BA55D3;
}

.a9ACD32 {
    background-color: #9ACD32;
}

.a87CEEB {
    background-color: #87CEEB;
}
.aFFA500 {
    background-color: #FFA500;
}

.selected {
    border: 5px solid pink !important;
}

.clue-options {
    display: none;
}

.clue-options.clicked {
    display: flex;
    gap: 15px;
}

.clue {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    box-sizing: border-box;
    text-align: center;
}

.clue:hover {
    cursor: pointer;
    border: 4px solid pink;
}

.color-text {
    display: none;
}

.give-clue.not-clicked{
    display: none;
}

.give-clue.clue-clicked {
    border: 1px solid black;
    border-radius: 4px;
    width: 80px;
    text-align: center;
}

.give-clue:hover {
    cursor: pointer;
}

.touched {
    border: 4px solid lightblue;
}
