html, body {
    background-color: indigo;
    // display: flex;
}
header {

    background-color:  cadetblue;
    box-shadow: 5px 5px;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    h1 {
        display: flex;
        justify-content: flex-start;
        margin: 15px;
        padding: 15px;
    }
    h2 {
        display: flex;
        justify-content: flex-start;
        margin: 15px;
        padding-left: 15px;

    }
   
    a {
        margin: 15px;
        display: flex;
    }
    i {
        font-size: 50px;
    }
}

img {
    display: none;
}

#game-canvas {
    // width: 30%;
    // height: 100%;
    background-color: white;
}

#players-canvas {
    // background-color: black;
    // width: 60%;
    // height: 100%;
}

.game-board {
    display: flex;
    // justify-content: space-between;
    // flex-direction: column;
    // justify-content: flex-end;
    // align-items: flex-end;
}

.current-player-hand {
    display: flex;
    width: 500px;
    // background-color: yellow;
    justify-content: flex-end;
}

.other-player-hand {
    display: flex;
    width: 500px;
    justify-content: flex-end;
    // background-color: yellow;
}

.current-player-hand > canvas {
    background-color: grey;
}

// .card-canvas {
//     display: flex;
//     list-style: none;
//     width: 100px;
//     height: 150px;
//     border: solid;
// }