html, body {
    background-color: indigo;
    // display: flex;
}
header {
    font-family: Passion One;
    font-size: 20px;
    height: 5 px;
    width: 100%;
    background-color: rgb(255, 240, 245);
    box-shadow: 5px 5px;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            align-items: flex-end;
        }
    }
    
    h1 {
        display: flex;
        justify-content: flex-start;
        margin: 15px;
    }
    h2 {
        padding-left: 15px;

    }
   
    a {
        margin: 15px;
        display: flex;
    }
    i {
        margin-right: 15px;
        font-size: 40px;
    }
    a:hover {
        color: white;
        transition: color .5s ease;
    }
}

img {
    display: none;
}

#game-canvas {
    // width: 30%;
    // height: 100%;
    background-color: white;
}

#players-canvas {
    // background-color: black;
    // width: 60%;
    // height: 100%;
}

.game-board {
    display: flex;
    // justify-content: space-between;
    // flex-direction: column;
    // justify-content: flex-end;
    // align-items: flex-end;
}

.current-player-hand {
    display: flex;
    width: 500px;
    // background-color: yellow;
    justify-content: flex-end;
}

.other-player-hand {
    display: flex;
    width: 500px;
    justify-content: flex-end;
    // background-color: yellow;
}

.current-player-hand > canvas {
    background-color: grey;
}

// .card-canvas {
//     display: flex;
//     list-style: none;
//     width: 100px;
//     height: 150px;
//     border: solid;
// }